.width-100 {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.font-rem2 {
    font-size: 2rem;
}
.mb-1rem {
    margin-bottom: 1rem;
}

.mb-2rem {
    margin-bottom: 2rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
#flags {
    display: flex;
    justify-content: center;
    align-items: center;
}
#flags img {
    margin-right: 1rem;
    max-width: 50px;
}
.share-btns {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.share-btns > div {
    padding: 1rem 2rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    border-bottom: 2px solid #cccccc;
}
.share-btns span {
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: bold;
}
.share-btns a:first-child {
    margin-right: 1rem;
}
main {
    text-align: center;
    padding: 1rem;
    max-width: 100%;
}
p {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    text-align: center;
}
.videos {
    margin: 0 auto;
    max-width: 620px;
}
.videos iframe {
    margin-bottom: 1rem;
    max-width: 100%;
}
li {
    list-style: none;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    margin: 0.5rem 1rem;
}
ul.info-list li {
    list-style: initial;
    text-align: justify;
    border-radius: 2px;
    max-width: 100%;
    border: 1px solid #939393;
    background-color: #e2e2e2;
    margin: 1rem;
    padding: 2rem;
}
ul {
    padding : 0;
    max-width: 100%;
    margin: 0 auto;
}

/* DESKTOP MEDIA QUERIES */
@media screen and (min-width: 1280px) {
    p {
        text-align: center;
    }
    img {
        max-width: 50%!important;
    }
}