.width-100 {
    max-width: 100%;
}
.font-rem2 {
    font-size: 2rem;
}
.mb-1rem {
    margin-bottom: 1rem;
}


#flags {
    display: flex;
    justify-content: center;
    align-items: center;
}
#flags img {
    margin-right: 1rem;
    max-width: 50px;
}
main {
    text-align: center;
    padding: 1rem;
}
.videos {
    margin: 0 auto;
    max-width: 620px;
}
.videos iframe {
    margin-bottom: 1rem;
}

/* DESKTOP MEDIA QUERIES */
@media screen and (min-width: 1280px) {
    img {
        max-width: 50%!important;
    }
}