.width-100 {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.font-rem2 {
    font-size: 2rem;
}
.mb-1rem {
    margin-bottom: 1rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
#flags {
    display: flex;
    justify-content: center;
    align-items: center;
}
#flags img {
    margin-right: 1rem;
    max-width: 50px;
}
.share-btns {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.share-btns > div {
    padding: 1rem 2rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    border-bottom: 2px solid #cccccc;
}
.share-btns span {
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: bold;
}
.share-btns a:first-child {
    margin-right: 1rem;
}
main {
    text-align: center;
    padding: 1rem;
    max-width: 100%;
}
p {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    text-align: justify;
}
.videos {
    margin: 0 auto;
    max-width: 620px;
}
.videos iframe {
    margin-bottom: 1rem;
    max-width: 100%;
}

/* DESKTOP MEDIA QUERIES */
@media screen and (min-width: 1280px) {
    p {
        text-align: center;
    }
    img {
        max-width: 50%!important;
    }
}